@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

.MyRowCat{
  flex-wrap: nowrap;
  overflow-y: auto;
}

.MyRowCat img {
height: 70px;
width: 100%;
object-fit: cover;

}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #075e54;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
}


.scroll-top-button{
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  left: 40px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
}

.my-float {
  margin-top: 7px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background : #5fab01; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5fab01; 
}

li{
  list-style: none;
}

.mystick{
  position: sticky;
  top: 20%;
}